body {
  background-color: #0f0e14;
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e3e2e9;
}


/*
green: #a4ffaf
background:#0f0e14
box: #24232b
inline: #18171f
text: #e3e2e9
password: #4e4f56
yellow: #f8cd65
*/



#heading {
  text-align: center;
  color: #4e4f56;
  margin: 5% 0 0;
  font-size: 1.5rem;
  font-family: "Space Mono", sans-serif;
}

#content {
  /*margin: 3% 30% 20%;
  background-color: white;
  height: 250px;
  border-radius: 5%; */
  margin: 1% 38% 12%;
}

@media (max-width: 576px) {
  #content {
    margin: 5% 5% 13%;
  }
}

.container{
  background-color: #24232b;
  padding: 2% 5%;
  margin-bottom: 5%;
}

.card-password{
  font-size: 28px;
  color: #e3e2e9;

}

.password{
  color: #4e4f56;
  margin-bottom: 0;
}

.password-set{
  color: #e3e2e9;
}

.fa-copy{
  float: right;
  color: #a4ffaf;
  margin-top: 7px;
}

.fa-copy:hover{
  cursor: pointer;
  color: #e3e2e9;
}


.character{
  text-align: right;
  color: #a4ffaf;
  font-size: 200%;
}

.vert-mid{
  margin: auto 0;
}



.form-check-input[type=checkbox]{
  border-radius: 0;
}

.form-check-input:hover{
  cursor: pointer;
}


.form-check-label{
  margin-left: 3%;
  margin-bottom: 2%;
}

.form-check-label:hover{
  cursor: pointer;
}


.form-check input:checked ~ .checkmark {
  background-color: #a4ffaf;
}

.form-check-input:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;

}

.strength{
  background-color: #18171f;
  padding: 5%;
  margin-top: 5%;

}

.strength-left{
  color: #4e4f56;
  margin: auto 0;
}

.strength-right{
  text-align: right;
  font-size: 120%;
  padding: 0 3% 0 0;
}


.strength-keyword{
  margin: 0 0 0 10%;
  display: inline-block;
  display: none;
}


.strength-box{
  width: 8px;
  height: 100%;
  background-color: #0f0e14;
  display: inline-block;
  border: 1px solid white;
}

.yellow-box{
  background-color: #f8cd65;
  border: 0;
}



.btn{
  background-color: #a4ffaf;
  border-radius: 0;
  color: #4e4f56;
  width: 100%;
  font-size: 100%;
  padding: 4% 0;
  margin-bottom: 5%;
  margin-top: 1%;
}


.btn:hover{
  border-color: #a4ffaf;
  cursor: pointer;
}


















.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


input[type=range] {
  height: 31px;
  -webkit-appearance: none;
  margin: 0 0 6%;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #18171F;
  border-radius: 4px;
  border: 1px solid #18171F;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #E3E2E9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #18171F;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #18171F;
  border-radius: 4px;
  border: 1px solid #18171F;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #E3E2E9;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #18171F;
  border: 1px solid #18171F;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #18171F;
  border: 1px solid #18171F;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #E3E2E9;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #18171F;
}
input[type=range]:focus::-ms-fill-upper {
  background: #18171F;
}
